---
---
@import "main";
.current {
  color: green;
}
.standard-image
{
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
.blogpost {
  max-width: 800px;
  border-style: solid;
  border-color: #202020;
  margin: 20;//10px 0 20px;
  border-radius: 10px;
}
.posttitle {
  display : block;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
    font-family: "Consolas", sans-serif;
    font: 14px/20px ;//Arial, Helvetica, sans-serif;
    background-color:black;
    color:white;
}
p {
  //max-width: 800px;
  // margin: 10px 0 20px;
  }
