---
---
@import "main";
.current {
  // color: green;
}
// .standard-image
// {
//     margin: 0 auto;
//     display: block;
//     max-width: 100%;
// }
.blogpost {
  /*max-width: 800px;
  border-style: solid;
  border-color: #202020;
  margin: 20;//10px 0 20px;
  border-radius: 10px;*/
}
.posttitle {
  // display : block;
  // text-align: center;
}
/*.block_c {
  max-width: 800px;
  display: flex;
  // justify-content: center;
}*/
// .portraitImageStandard
.img-m
{
  display: flex;
  max-height:500px;
  max-width:800px;
}
/*body {
    font-family: Charter,Georgia,Times,Serif;
    font: 14px/20px ;//Arial, Helvetica, sans-serif;
    background-color:#FFF0F0;
     color:black;
 }*/
/* p {
  max-width: 800px;
  margin-left:20px;
  margin-right:20;
  text-indent: 50px;
  line-height: 2.0;
}*/
